<%- include('../layouts/head') -%>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            Page not found
        </div>  
    </div>
</div>

<%- include('../layouts/foot') -%>